name: Generate M3U

on:
  schedule:
    - cron: "0 3 * * *"   # Her gece 03:00 UTC
  workflow_dispatch:       # Manuel tetikleme

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install yt-dlp
        run: pip install yt-dlp

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: List files
        run: ls -R $GITHUB_WORKSPACE

      - name: Run script
        run: python csv_to_m3u_with_ytdlp.py


      - name: Commit and push playlist
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add playlist.m3u
          git commit -m "Update playlist"
          git push
